<!DOCTYPE html>
<html lang="en">

<head>
    <title>PBO Beleg</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="lib/bootstrap.min.css">
    <script src="lib/jquery.slim.min.js"></script>
    <script src="lib/popper.min.js"></script>
    <script src="lib/bootstrap2.min.js"></script>

    <!-- VUE -->
    <script src="lib/vue.js"></script>

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>


<body class="mx-3 my-2 bg-light">
    <div id="app">
        <nav class="navbar navbar-light">
            <a class="navbar-brand" href="#">
                {{jsonData.system.name}}
                <span class="small ml-3">Prozess: {{jsonData.process.name}}</span>
            </a>
        </nav>

        <!-- Searchbar  -->
        <!-- <div id=searchbar>Searchbar</div> -->

        <div class="row">

            <!-- Sidebar  -->
            <div class=col-md-3>
                <nav id=menu>
                    <div class="list-group">
                        <a id="sidebarProcesses" href="#" class="list-group-item list-group-item-action" v-bind:class="{ active: listElement1}" v-on:click="clickHandlerSidebar">Prozesse</a>
                        <a id="sidebarLocations" href="#" class="list-group-item list-group-item-action" v-bind:class="{ active: listElement2}" v-on:click="clickHandlerSidebar">Orte</a>
                        <a id="sidebarStakeholder" href="#" class="list-group-item list-group-item-action" v-bind:class="{ active: listElement3}"
                            v-on:click="clickHandlerSidebar">Stakeholder</a>
                        <!--
                        <a id="sidebarSystem" href="#" class="list-group-item list-group-item-action" v-bind:class="{ active: listElement4}" v-on:click="clickHandlerSidebar">System</a>
                            <a id="sidebarEntrypoint" href="#" class="list-group-item list-group-item-action" v-bind:class="{ active: listElement5}"
                            v-on:click="clickHandlerSidebar">Entrypoint</a>
                        -->
                        <a id="sidebarMainprocess" href="#" class="list-group-item list-group-item-action" v-bind:class="{ active: listElement6}"
                            v-on:click="clickHandlerSidebar">Hauptprozess</a>
                    </div>
                </nav>
            </div>

            <!-- Informationarea -->
            <div class="col-md mb-3">
                <div class="row">

                    <!-- Sortbar -->
                    <div id="sortbar" v-if="!noSortbar">
                        <ul class="nav nav-pills">
                            <li>
                                <a class="nav-link">Sortiere nach:</a>
                            </li>
                            <li class="nav-item">
                                <a id="sortbarCol1" class="nav-link" href="#" v-bind:class="{ active: activeSort1}" v-on:click="clickHandlerSortbar">{{sortLabel1}}</a>
                            </li>
                            <li class="nav-itemName">
                                <a id="sortbarCol2" class="nav-link" href="#" v-bind:class="{ active: activeSort2}" v-on:click="clickHandlerSortbar">{{sortLabel2}}</a>
                            </li>
                            <li class="nav-itemName" v-if="!noSortItem3">
                                <a id="sortbarCol3" class="nav-link" href="#" v-bind:class="{ active: activeSort3}" v-on:click="clickHandlerSortbar">{{sortLabel3}}</a>
                            </li>
                            <li class="nav-itemName" v-if="!noSortItem4">
                                <a id="sortbarCol4" class="nav-link" href="#" v-bind:class="{ active: activeSort4}" v-on:click="clickHandlerSortbar">{{sortLabel4}}</a>
                            </li>
                            <li v-if="!noFilter1">
                                <a class="nav-link">Filter:</a>
                            </li>
                            <li class="nav-item" v-if="!noFilter1">
                                <a id="filter1" class="nav-link" href="#" v-bind:class="{ active: activeFilter1}" v-on:click="clickHandlerFilter">{{filterLabel1}}</a>
                            </li>
                            <li class="nav-item ml-1" v-if="!noFilter2">
                                <a id="filter2" class="nav-link" href="#" v-bind:class="{ active: activeFilter2}" v-on:click="clickHandlerFilter">{{filterLabel2}}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- new row for button -->
                <!-- Back Button -->
                <button class="btn btn-primary" v-if="!noBackButton" v-on:click="fillContent" style="width: 10rem">Back</button>

                <!-- content-->
                <div id="content" class="row">
                    <div class="col-md-auto mt-2" v-for="item in contentList">
                        <a href="#" class="list-group-item-action" v-on:click="clickHandlerArticle" v-html="item">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer navbar fixed-bottom bg-light">
            © {{jsonData.system.contact}} ({{jsonData.system.email}}}
            <a href="#">{{jsonData.system.website}}</a>
        </div>
    </div>
</body>

<script src="source.js"></script>

<script>
    $(document).ready(function () {
        $("button").click(function () {
            $("#menu").fadeOut("slow");
        });
        $("button").click(function () {
            $("#menu").fadeIn("slow");
        });
    });
</script>

</html>


<!-- <button>Click to fade in boxes</button> -->

<!--
<div class="row">
    <div class="col-md">
        <div id="visualization"></div>
        <script type="text/javascript">
            var container = document.getElementById('visualization');
            var items = [
                { x: 11, y: 10 },
                { x: 12, y: 30 },
                { x: 13, y: 25 },
                { x: 14, y: 30 },
                { x: 15, y: 10 },
                { x: 16, y: 15 },
                { x: 17, y: 30 }
            ];

            var dataset = new vis.DataSet(items);
            var options = {
                start: 10,
                end: 18
            };
            var graph2d = new vis.Graph2d(container, dataset, options);
        </script>
    </div>
</div>
-->