<!DOCTYPE html>
<html lang="en">

<head>
    <title>PBO Beleg</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="lib/bootstrap.min.css">
    <script src="lib/jquery.slim.min.js"></script>
    <script src="lib/popper.min.js"></script>
    <script src="lib/bootstrap2.min.js"></script>

    <!-- VUE -->
    <script src="lib/vue.js"></script>
</head>


<body class="mx-2 my-2">
    <div id="app">
        <div id=top>
            <h1 class="display1">{{jsonData.system.name}}</h1>
            <h2 class="display2">Prozess: {{jsonData.process.name}}</h2>
        </div>
        <br>

        <!-- Searchbar  -->
        <!-- <div id=searchbar>Searchbar</div> -->

        <div class="row">

            <!-- Sidebar  -->
            <div class=col-md-3>
                <nav id=menu>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action" v-bind:class="{ active: listElement1}" v-on:click="clickHandlerProcesses">Prozesse</a>
                        <a href="#" class="list-group-item list-group-item-action" v-bind:class="{ active: listElement2}" v-on:click="clickHandlerLocations">Locations</a>
                        <a href="#" class="list-group-item list-group-item-action" v-bind:class="{ active: listElement3}" v-on:click="clickHandlerStakeholder">Stakeholder</a>
                    </div>
                </nav>
            </div>

            <!-- Informationarea -->
            <div class=col-md-9>
                <div class="row">

                    <!-- Sortbar -->
                    <div id="sortbar">
                        <ul class="nav nav-pills">

                            <!-- <li><p>Sortiert nach:</p></li> -->
                            <li class="nav-item">
                                <a class="nav-link" href="#">ID</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Name</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Location</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Stakeholder</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Content -->
                <!-- <div id="content" v-html="contentMessage" class="row"> -->
                <div id="content" class="row">
                <!-- <div ></div> -->
                    <!-- multiple little articles in a grid or big articles in a list (full width) -->
                    <div class="col-md-3 mt-5 mr-5" v-for="(item, index) in listToShow">

                        <!-- The a tag and the list-group-item-action make the little arctile clickabel -->
                        <a href="#" class="list-group-item-action" v-on:click="clickHandlerArticle">
                            <div class="card border-primary mb-3 text-black" style="min-width: 10rem; max-width: 18rem;">

                                <!-- Set the id with v-bind="{id: 'some text or' stringVariable}"-->
                                <div class="card-header" v-bind="{ id: item.id}">{{item.id}}</div>
                                <div class="card-body" v-bind="{ id: item.id}">
                                    <div v-if="showType==='locations'">Stadt: {{item.city}}</div>
                                    <div v-else>Name: {{item.name}}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- <button style="min-width: 5rem; min-height: 5rem;" v-on:click="clickHandlerMultipleArticles"></button> -->
            </div>
        </div>
    </div>
</body>

<script src="source.js"></script>

</html>